/* EthnicWearCard.css */
.fashion-card {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #383838;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-image {
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  
  .swiper-container {
    margin-bottom: 30px;
  }
  
  .slide-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .text-section {
    margin-top: 20px;
  }
  
  .text-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .text-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .view-btn {
    background-color: #ffffff;
    color: #000;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
  }
  
  .view-btn:hover {
    background-color: #d6d6d6;
  }
  