.portfolio-container {
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
}

.owner-info {
  background-color: #f9f5f5;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}

.category-section {
  margin-bottom: 40px;
}

.subcategory-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.subcategory-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px #eee;
  width: 250px;
}

.subcategory-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
